@model List<NoteForTable>
@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Read</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (NoteForTable n in Model)
            {
                <tr>
                    <td>@n.Date</td>
                    <td><a asp-controller="Note" asp-action="Read" asp-route-id="@n.Id"><i class="fa fa-book" aria-hidden="true" style="color:white;"></i></a></td>
                    <td><a asp-controller="Note" asp-action="Edit" asp-route-id="@n.Id"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color:white;"></i></a></td>
                    <td><a asp-controller="Note" asp-action="Remove" asp-route-id="@n.Id"><i class="fa fa-trash-o" aria-hidden="true" style="color:white;"></i></a></td>
                </tr>
            }
        }
    </tbody>
</table>